.title-slide {
  background-color: /*#CBE7A5;*/  /* #EDE0CF;*/ /*#CA9F9D;*/ #FFFFFF;
  /* background-image:url(http://goo.gl/EpXln); */
}

ul {
  margin-left: 1.2em;
  margin-bottom: 0;
  position: relative;
}